@font-face {
  font-family: 'JohnsonsBaby-Bold';
  /*src: url('JohnsonsBaby-Bold.eot?#iefix') format('embedded-opentype'),  url('JohnsonsBaby-Bold.otf')  format('opentype'),
       url('JohnsonsBaby-Bold.woff') format('woff'), url('JohnsonsBaby-Bold.ttf')  format('truetype'), url('JohnsonsBaby-Bold.svg#JohnsonsBaby-Bold') format('svg');*/
  src: url('https://s0.2mdn.net/creatives/assets/3640748/JohnsonsBaby-Bold.otf')  format('opentype'), url('https://s0.2mdn.net/creatives/assets/3640748/JohnsonsBaby-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

*, :before, :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.abs-pos, #wrapper, #click_through {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  overflow: hidden; 
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

}

#wrapper {
  color:#fff;
  position: relative;
  visibility: hidden;
  font-family: 'balboaplus-fill';
  font-weight: bold; 
  font-style: normal;
  background-color:#72e3e9;}
  #wrapper.show {
    visibility: visible; }

#click_through {
  z-index: 999;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #000000; }


#ctaBox{
  width:123px;
  height:30px;
  position: absolute;
  top: 0px;
  left: 0px;

}

.cta{
  position: static !important;
  /*display: inline-block;*/
  background: #fefbf2;
  font-family:'JohnsonsBaby-Bold', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  color: #1d68d5;
  padding: 8px 0px 4px;
  margin: auto;
  text-transform: uppercase;
  text-align:center;
  width:123px;
  height:30px;
  border-radius: 25px;
  font-weight: 400;

}

#logo, #product, #productShadow, #baby, #bg, #retailer {
  width:300px;
  height:250px;
}

#f1_copy, #f2_copy, #f3_copy {
  font-family:'JohnsonsBaby-Bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding-top:49px;
  padding-left:14px; 
  font-size: 13px;
  line-height:15px;
}

.copy {
  width: 190px;
}

#productShadow {
  mix-blend-mode: multiply;
}

.sup {
  font-size: 8px;
  top:-6px;
  position: relative;
  line-height:0;
}

/**
 * Firefox specific rule
 */
 @-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}